target_repository:
  HTTPS: https://github.com/SeanNaren/deepspeech.pytorch.git
  checkout: master
  copy_tests:
    - data/an4.py
    - tests/smoke_test.py
    - labels.json
  requirements_file: requirements.txt

contact:
  slack:
    # Sean Narenthiran
    - U01BULUS2BG

before_install:
  - sudo apt install -y sox libsndfile1

env:
  # let's limit the installation only to Pytorch-Lightning
  PACKAGE_NAME: pytorch

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/Lightning-AI/lightning.git
    checkout: release/pytorch

runtimes:
  - {os: "ubuntu-20.04", python-version: "3.8"}
