# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @borda @lantiga

# owners
/.github/CODEOWNERS   @borda
# main
/README.md            @lantiga

# CI/CD
/.github/             @borda
/.azure/              @borda
/_actions/            @borda
# configs in root
/*.yml                @borda
/*.yaml               @borda
