# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @borda @lantiga @akihironitta

# owners
/.github/CODEOWNERS   @Borda
# main
/README.md            @borda @lantiga

# CI/CD
/.github/workflows/   @borda @akihironitta
/.azure/              @borda @akihironitta
# configs in root
/*.yml                @borda
