# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @borda

# owners
/.github/CODEOWNERS   @Borda
# main
/README.md            @borda @tchaton

# CI/CD
/.github/workflows/   @borda
/.azure/              @borda
# configs in root
/*.yml                @borda

# PyTorchLightning
/configs/PyTorchLightning/metrics*  @borda
/configs/PyTorchLightning/flash*    @ethanwharris
/configs/PyTorchLightning/lightning_transformers*    @seannaren
/configs/SeanNaren/*    @seannaren
/configs/wdika/*    @wdika
