target_repository:
  HTTPS: https://github.com/PyTorchLightning/metrics.git
  # checkout a particular branch or a tag
  checkout: master
  # define installing package extras
  install_extras: all
  # copy some  test from the target repository
  copy_tests:
    - integrations
    - tests/__init__.py
    - tests/helpers

contact:
  slack:
    # Nicki Skafte
    - USZ6EQ8A2

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/PyTorchLightning/pytorch-lightning.git
    checkout: release/latest
    # install_extras: all

runtimes:
  - {os: "ubuntu-20.04", python-version: "3.8"}
  - {os: "macOS-10.15", python-version: "3.8"}
  - {os: "windows-2019", python-version: "3.8"}
