source_repository:
  HTTPS: https://github.com/Lightning-AI/metrics.git
  # checkout a particular branch or a tag
  checkout: master
  # define installing package extras
  install_extras: all
  # copy some  test from the target repository
  copy_tests:
    - tests/integrations

contact:
  slack:
    # Nicki Skafte
    - USZ6EQ8A2

env:
  # let's limit the installation only to Pytorch-Lightning
  PACKAGE_NAME: pytorch

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/Lightning-AI/lightning.git
    checkout: master

testing:
  # additional pytest arguments
  pytest_args: --strict

runtimes:
  - {os: "ubuntu-20.04", python: "3.8"}
