target_repository:
  HTTPS: https://github.com/Lightning-AI/metrics.git
  # checkout a particular branch or a tag
  checkout: master
  # define installing package extras
  install_extras: all
  # copy some  test from the target repository
  copy_tests:
    - integrations
    - tests/__init__.py
    - tests/helpers

contact:
  slack:
    # Nicki Skafte
    - USZ6EQ8A2

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/Lightning-AI/lightning.git
    checkout: master

testing:
  dirs:
    - integrations
  # additional pytest arguments
  pytest_args: --strict

runtimes:
  - {os: "ubuntu-20.04", python-version: "3.8"}
