target_repository:
  HTTPS: https://github.com/microsoft/DeepSpeed.git
  checkout: master
  copy_tests:
    - tests/lightning/

contact:
  slack:
    # Sean Narenthiran
    - U01BULUS2BG

env:
  # let's limit the installation only to Pytorch-Lightning
  PACKAGE_NAME: pytorch

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/Lightning-AI/lightning.git
    checkout: release/stable
