target_repository:
  HTTPS: https://github.com/NVIDIA/NeMo.git
  # checkout a particular branch or a tag
  checkout: main
  # define installing package extras
  install_extras: all
  # copy some  test from the target repository
  copy_tests:
    - tests

before_install:
  - sudo apt-get install -y libsndfile1

dependencies:
  - name: pytorch-lightning
    HTTPS: https://github.com/PyTorchLightning/pytorch-lightning.git
    checkout: release/latest
    install_extras: loggers

testing:
  # additional pytest arguments
  pytest_args: -m "not pleasefixme and not torch_tts" --cpu --with_downloads --relax_numba_compat

runtimes:
  - {os: "ubuntu-20.04", python-version: "3.8"}
