name: Building dockers

on: # Trigger the workflow on push or pull request, but only for the master branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - "actions/**"

# based on https://github.com/pypa/gh-action-pypi-publish
jobs:

  docker-build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        pytorch_version: ["1.8.1", "1.9.1"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        if: ${{ github.repository_owner == 'PyTorchLightning' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Publish Docker Hub
        # publish master/release
        uses: docker/build-push-action@v2
        with:
          build-args: |
            PYTORCH_VERSION=${{ matrix.pytorch_version }}
          file: actions/Dockerfile
          push: $PUSH_TO_HUB
          tags: pytorchlightning/ecosystem-ci:pt${{ matrix.pytorch_version }}
        env:
          PUSH_TO_HUB: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        timeout-minutes: 25
